body{
  background: rgb(0, 61, 91);
  display: grid;
  grid-template-columns:  30% 70%; 
  grid-template-rows: 20% 20% 60%;
  grid-template-areas:"title title "
                      "scoreboard status-message-container"
                      "discarded-dice-container dice-container" ;
  text-align: center;
  min-height: 75vh;
  width: 75%;
  max-height: 75%; 
  margin: 0 auto;
  margin-top: 10vh;
  animation: flicker 4.5s infinite alternate;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

  
}

ul{
  list-style: none ;
}
.title-container{
  grid-area: title;
  background: rgb(0, 61, 91);
  color: rgb(234, 196, 53);
  display: flex;
  flex-direction: column;
  border: solid rgb(234, 196, 53);

}
.title{
  background: rgb(234, 196, 53);
  color:rgb(77, 161, 103);
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  border: rgb(77, 161, 103) solid 2px;
  font-size: 50px;
}

.status-message-container{
  grid-area: status-message-container;
  background: rgb(0, 61, 91);
  color: rgb(234, 196, 53);
  border: solid rgb(234, 196, 53);
}
.status-message{
  background: rgb(234, 196, 53);
  color:rgb(77, 161, 103);
  max-width: fit-content;
  margin:0 auto;
  margin-top: 10%;
  border: rgb(77, 161, 103) solid 2px;
}
.scoreboard{
  grid-area: scoreboard;
  color: rgb(77, 161, 103);
  background: rgb(0, 61, 91);
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 7px;
  border: solid rgb(234, 196, 53);
}

.score{
  background-color: rgb(234, 196, 53);
  font-size: small;
  border: rgb(77, 161, 103) solid 2px;
}



.dice-container{
  grid-area: dice-container;
  color:rgb(77, 161, 103);
  background: rgb(0, 61, 91);
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows:25% 25% 25% 25%;
  grid-template-areas:  "d1 d2 "
                        "d3 d3"
                        "d4 d5"
                    "button button";
  align-items: center;
  text-align: center;
  padding: 10px;
  border: solid rgb(234, 196, 53);
}

.dice{
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  border: rgb(77, 161, 103) solid 2px;
  background: rgb(234, 196, 53);
  padding: 5px; 
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

#d1{
  grid-area: d1;
}
#d2{
  grid-area: d2;
}
#d3{
  grid-area: d3;

}
#d4{  
  grid-area: d4;

}
#d5{
  grid-area: d5;
}






button{
  border: rgb(77, 161, 103) solid 3px;
  background: rgb(234, 196, 53);
  color: rgb(77, 161, 103);
  padding:10px;
  font-size: 19px;
  border-radius: 15px;
  max-width: fit-content;
  margin: 0 auto;
  grid-area: button;
  
}

.discarded-dice-container{
  grid-area: discarded-dice-container;
  background: rgb(0, 61, 91);
  color: rgb(234, 196, 53);
  border: solid rgb(234, 196, 53);
  font-size: x-small;
  padding: 30px;
}
.discarded-dice-title{
  background: rgb(234, 196, 53);
  margin: 0 auto ;
  margin-top:4px;
  max-width: fit-content;
  padding: 3px;
  color:rgb(77, 161, 103);
  border: rgb(77, 161, 103) solid 2px;
}


.discarded-dice{
  font-size: x-large;
  color: rgb(77, 161, 103);
  background: rgb(234, 196, 53);
  border-radius: 5px;
  border: rgb(77, 161, 103) solid 2px;
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px; 
}

button:active{
  background: orange;
  color:rgb(234, 196, 53);
}     


@media only screen and (min-width: 768px){

  button:hover{
    cursor: pointer;
    color: rgb(234, 196, 53);
    background: rgb(77, 161, 103);
    border: rgb(234, 196, 53) solid 3px;
  }

}