body{
  color: white;
  background: rgb(31, 88, 4);
  display: grid;
  grid-template-columns:  30% 70%; 
  grid-template-rows: 20% 20% 60%;
  grid-template-areas:"title title "
                      "scoreboard status-message-container"
                       "discarded-dice-container dice-container" ;
  text-align: center;
  min-height: 75vh;

   width: 75%;
  max-height: 75%; 
  margin: 0 auto;
  margin-top: 10vh;
  animation: flicker 4.5s infinite alternate;
  color: #fff;
  
}

ul{
  list-style: none ;
}
.title{
  grid-area: title;
  background: yellow;
  color: green;
  display: flex;
  flex-direction: column;
  border: solid green;
}
.status-message-container{
  grid-area: status-message-container;
  background: yellow;
  color: green;
  border: solid green;
  
}
.scoreboard{
  grid-area: scoreboard;
  color: yellow;
  background: red;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 7px;
  border: solid green;
}

.score{
  background-color: green;
  font-size: small;

}



.dice-container{
  grid-area: dice-container;
  color:yellow;
  background: red;
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows:25% 25% 25% 25%;
  grid-template-areas: "d1 d2 "
                        "d3 d3"
                       "d4 d5"
                        "button button";
  align-items: center;
  text-align: center;
  padding: 10px;
  border: solid green;



}

.dice{
  height: 20px;
  width: 20px;

  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  border: yellow solid 2px;
  background: green;
  padding: 5px; 
  font-weight: bold;


  display: flex;
  flex-direction: column;
}

#d1{



  grid-area: d1;
 

}
#d2{
  

  grid-area: d2;
  

}
#d3{
 

  grid-area: d3;
  

}
#d4{
  

  grid-area: d4;



}
#d5{
  

  grid-area: d5;

}






button{
  border: yellow solid 3px;
  background: black;
  color: yellow;
  padding:10px;
  font-size: 19px;
  border-radius: 15px;
  max-width: fit-content;
margin: 0 auto;
grid-area: button;
  
}

.discarded-dice-container{
  grid-area: discarded-dice-container;
  background: red;
  color: green;
  border: solid green;
  font-size: x-small;
}
.discarded-dice-title{
  background: yellow;
  margin: 0 auto ;
  margin-top:4px;
  max-width: fit-content;
  padding: 3px;
}


.discarded-dice{
  font-size: x-large;
  color: yellow;
  background: green;
  border-radius: 5px;
  border: yellow solid 2px;
  height: 20px;
  width: 20px;

  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px; 
}

button:hover{
  background: orange;
  color:green;
}     

/* Flickering animation */
/* @keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
} */