body{
  color: white;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

ul{
  list-style: none ;
}

button{

  max-width: fit-content;
  
}